<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/api/signupsubmit" method="post">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
